nav{
    
    box-sizing: border-box;
    border: 0px solid;
    background-color: #fef7e7;
   
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    background-color: #f2d78f;
    border: 0;
    border-radius: 50px;
    width: 8em;
    height: 3em;
margin-top: 2em;
margin-bottom: 2em;
}

.shop{
    height: 3em;

}

ul li img{
    height: 20px;
    width: 20px;
    background-color: #f2d78f
}

    